.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    height: 100dvh;
    padding: 40px 50px;
    line-height: 1.6; 
}

.home {
    margin: 40px;
    max-width: 500px;
    max-height: 500px
}

  .sectionTitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .info {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .carouselContainer {
    display: flex;
    align-items: center;
  }
  
  .quote {
    flex: 2;
    margin: 50px;
    font-size: 1.3rem;
    text-align: left;
    border: 1px solid white; /* Borde fino */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el efecto 3D */
    padding: 20px; /* Espacio interno para que el contenido no esté pegado al borde */
}

  .carousel {
    flex: 3;
  }
  