.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    height: 100dvh;
    min-height: 500px;

}

.home {
    max-height: 250px;
}
