
/* Media Queries para dispositivos pequeños (móviles y tablets) */
@media (max-width: 1024px) {
  .container {
    padding: 20px 30px; /* Reduce padding para dispositivos más pequeños */
  }

  .sectionTitle {
    font-size: 2rem; /* Reduce el tamaño de la fuente */
  }

  .info {
    max-width: 100%; /* Permite que el texto ocupe más espacio */
  }

  .quote {
    font-size: 1.1rem; /* Reduce el tamaño de la fuente para citas */
    margin: 10px 0; /* Ajusta el margen */
    max-width: 90%; /* Permite que la cita se ajuste mejor en pantallas pequeñas */
  }

  .carousel img {
    max-width: 100%; /* Asegura que las imágenes se ajusten al contenedor */
    border-radius: 5px; /* Ajusta el borde redondeado */
  }
}

