:root {
  --background-color: #fff; /* Corregido 'backgroud' a 'background' */
  --btn-color: #002c65;
  --btn-text-color: #fff;
  --text-color: #222;
  --text-colorh1: #556;
  --form-text-color: #555;
  --footer-text-color: #888;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0; /* Asegúrate de que no haya margen o relleno en el cuerpo */
}

img {
  border-radius: 50px;
  height: auto; /* Asegúrate de que las imágenes mantengan sus proporciones */
  max-height: 400px; /* Limita la altura máxima para que las imágenes no se vean mal */
  width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
}
 h2, h3, p {
  color: var(--text-color);
  margin: 0;
  padding-left: 0;
}

h2, h3, p {
  font-family: 'Roboto', monospace;
}

h1, h2 {
  text-transform: uppercase;
}

h2, h3 {
  font-size: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30x;
  color: var(--text-colorh1);
}

p {
  font-size: 15px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 10px;
  margin-top: 50px;
}

.hover {
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 400px){
  .sectionTitle {
    margin-bottom: 10px;
    margin-top: 80px;
  
  }
}


@media (min-width: 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
  }
}

@media (min-width: 1400px) {
  #root {
    gap: 200px;
  }
  h1 {
    font-size: 48px;
  }
  .sectionTitle {
    margin-bottom: 20px;
  }
}
